/*
colors used:
Background color (azure): #F0FFFF or rgb(240,255,255)
Primary font color (coral): #FF7F50 or rgb(255, 127, 80)
Secondary font color (darkslategrey): #2F4F4F or rgb(47, 79, 79)
Tertiary font color (floralwhite): #FFFAF0	or rgb(255,250,240)
*/

/* ::::::::::::::::::::::::: GENERAL STYLES */
* {
  box-sizing: border-box;
}

body {
  background-color: #f0ffff;
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.6;
  color: #2f4f4f;
}

/* ::::::::::::::::::::::::: TYPOGRAPHY (headings, links, paragraph, lists, tables) */

/* ::::::::::::::::::::::::: GLOBAL ELEMENTS (buttons) */

/* ::::::::::::::::::::::::: GLOBAL COMPONENTS (header, footer) */

/* ::::::::::::::::::::::::: GLOBAL Selectors (Specific class names -- row, container, column "grid stuff") */

/* ::::::::::::::::::::::::: ANIMATIONS */

/* ::::::::::::::::::::::::: PAGE SPECIFIC STYLES (Styles that apply to only one page) */

/* ::::::::::::::::::::::::: MEDIA QUERIES */

header {
  background-color: #ffe4c4;
  padding: 10px 0 4px;
  text-align: unset;
  position: fixed;
  width: 100%;
}

main {
  padding-top: 56px;
}

footer {
  text-align: center;
  background-color: #ffe4c4;
  padding: 10px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  color: #ff7f50;
  padding-top: 60px;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  font-size: 1.25em;
  font-weight: 375;
}

img {
  width: 100%;
}

/* link styles */
a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}

a:hover,
:focus {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #994c30;
}

/* button styles - keep button class at the bottom of css code so it doesnt get overwritten by less specific rules */

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #3a3a3a; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
  transition-property: opacity;
}

.button:hover {
  color: #fff;
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active { /* selected link */
  color: #994c30;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #fff;
}

.social {
  text-align: center;
  padding-top: 30px;
}

.social a {
  display: inline-block;
  margin: 0 20px;
}

/* Layout Styling */

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.logo {
  max-width: 150px;
}

nav {
  width: auto;
  float: right;
  margin-top: 4px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}

/* homepage styles */

#hero {
  background-color: #ffe4c4;
  padding: 0;
  display: inline-block;
  width: 100%;
  text-align: center; /* Centers text */
}

#hero span {
  display: block;
}

/* About styles */

.skills-tools {
  padding-left: 35px;
}

/* Header styles */

.css-box-shadow {
  background: #ffe4c4;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

/* Navigation stuff */

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 25px;
  padding-right: 15px;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
  display: block;
  float: none;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* Practice with flexbox */

.container .nav {
  display: flex;
  justify-content: space-between;
}

/* .navigation {
  display: flex;
  justify-content: flex-start;
} */

/* Practice with transitions */

/* transition: [transition-property][transition-duration]
  [transition-timing-function][transition-delay]; */

/* Practice with animation */

.animation-exampl {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  from { fill: #edc655; }
  to { fill: #f76414; }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); }
  to { transform: translate(200px, 50px); }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* Short hand code for above
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
} */

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(100px, 48px); }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* media devices small (320px and larger) */
@media only screen and (min-width: 320px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  main {
    padding-top: 145px;
  }

  .col-md-1 { width: 8.33%; }
  .col-sm-2 { width: 16.66%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33%; }
  .col-sm-5 { width: 41.66%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33%; }
  .col-sm-8 { width: 66.66%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33%; }
  .col-sm-11 { width: 91.66%; }
  .col-sm-12 { width: 100%; }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 24px 0 0;
    display: block;
    float: right;
  }

  .navtoggle.responsive li {
    display: inline-block;
    padding: 0;
    border-top: 0;
  }

  .col-md-1 { width: 8.33%; }
  .col-md-2 { width: 16.66%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33%; }
  .col-md-5 { width: 41.66%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33%; }
  .col-md-8 { width: 66.66%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33%; }
  .col-md-11 { width: 91.66%; }
  .col-md-12 { width: 100%; }

  [class*="col-"] {
    float: left;
  }  /* dont know what is happening here but it changes the page in a not cool way */
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-1 { width: 8.33%; }
  .col-lg-2 { width: 16.66%; }
  .col-lg-3 { width: 25%; }
  .col-lg-4 { width: 33.33%; }
  .col-lg-5 { width: 41.66%; }
  .col-lg-6 { width: 50%; }
  .col-lg-7 { width: 58.33%; }
  .col-lg-8 { width: 66.66%; }
  .col-lg-9 { width: 75%; }
  .col-lg-10 { width: 83.33%; }
  .col-lg-11 { width: 91.66%; }
  .col-lg-12 { width: 100%; }

  /* .logo {
    min-width: 200px;
    text-align: left;
  } */
}

/* ==============================
X-large devices (1440px or larger)
================================= */

/* @media only screen and (min-width: 1440px) {
} */
